<div class="bg-white flex relative z-20 items-center">
  <div
    class="container mx-auto px-6 flex flex-col justify-between items-center relative py-8"
  >
    <div class="flex flex-col">
      <h1
        class="font-light w-full uppercase text-center text-4xl sm:text-5xl text-gray-800"
      >
        Organize your Task, Organize your Life
      </h1>
      <h2
        class="font-light max-w-2xl mx-auto w-full text-xl text-gray-500 text-center py-8"
      >
        TaskCard gives you the best task management experience with all the
        features you need for your work: Simple and Minimalist UI, server
        rendering, Easy Drag and Drop, and smart sorting.
      </h2>
      <div class="flex items-center justify-center mt-4">
        <a
          href="#"
          class="uppercase py-2 px-4 bg-gray-800 border-2 border-transparent text-white text-md mr-4 hover:bg-gray-900"
        >
          Get started
        </a>
        <a
          href="#"
          class="uppercase py-2 px-4 bg-transparent border-2 border-gray-800 text-gray-800 hover:bg-gray-800 hover:text-white text-md"
        >
          Pricing
        </a>
      </div>
    </div>
  </div>
</div>
