<% if resource.errors.any? %>
  <div
    id="error_explanation"
    class="border border-red-500 p-3 text-red-500 rounded-lg"
  >
    <ul class="text-xl font-light">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
