<div class="bg-gray-50 rounded-md flex flex-col p-2 gap-2"
     id="task_<%= task.id %>">
  <h3 class="font-bold text-xl"><%= task.title %></h3>
  <p class="text-gray-700 font-light"><%= task.description %></p>
  <div class="flex gap-2">
    <span class="bg-blue-200 py-1 px-2 rounded-md">Setup</span>
    <span class="bg-red-200 py-1 px-2 rounded-md">Rails</span>
  </div>
</div>
