<div class="p-4">
  <h1 class="font-bold text-4xl my-2">Tasks for today!</h1>

  <div class="flex flex-col gap-2">
    <li class="flex items-start gap-2 p-2 bg-gray-100 rounded-xl max-w-3xl">
      <div>
        <h3 class="text-gray-900 text-xl font-bold">Task Title</h3>
        <p class="text-gray-700 text-lg">
          Task description blah blah blah blah blah blah blah blah
          Task description blah blah blah blah blah blah blah blah
          Task description blah blah blah blah blah blah blah blah
        </p>
      </div>
      <div class="flex gap-2">
        <button class="rounded-full bg-green-500 p-2 text-white">Timer</button>
        <button class="rounded-full bg-blue-500 p-2 text-white">Done</button>
        <button class="rounded-full bg-red-500 p-2 text-white">Delete</button>
      </div>
    </li>

    <li class="flex items-start gap-2 p-2 bg-gray-100 rounded-xl max-w-3xl">
      <div>
        <h3 class="text-gray-900 text-xl font-bold">Task Title</h3>
        <p class="text-gray-700 text-lg">
          Task description blah blah blah blah blah blah blah blah
          Task description blah blah blah blah blah blah blah blah
          Task description blah blah blah blah blah blah blah blah
        </p>
      </div>
      <div class="flex gap-2">
        <button class="rounded-full bg-green-500 p-2 text-white">Timer</button>
        <button class="rounded-full bg-blue-500 p-2 text-white">Done</button>
        <button class="rounded-full bg-red-500 p-2 text-white">Delete</button>
      </div>
    </li>

    <li class="flex items-start gap-2 p-2 bg-gray-100 rounded-xl max-w-3xl">
      <div>
        <h3 class="text-gray-900 text-xl font-bold">Task Title</h3>
        <p class="text-gray-700 text-lg">
          Task description blah blah blah blah blah blah blah blah
          Task description blah blah blah blah blah blah blah blah
          Task description blah blah blah blah blah blah blah blah
        </p>
      </div>
      <div class="flex gap-2">
        <button class="rounded-full bg-green-500 p-2 text-white">Timer</button>
        <button class="rounded-full bg-blue-500 p-2 text-white">Done</button>
        <button class="rounded-full bg-red-500 p-2 text-white">Delete</button>
      </div>
    </li>

    <li class="flex items-start gap-2 p-2 bg-gray-100 rounded-xl max-w-3xl">
      <div>
        <h3 class="text-gray-900 text-xl font-bold">Task Title</h3>
        <p class="text-gray-700 text-lg">
          Task description blah blah blah blah blah blah blah blah
          Task description blah blah blah blah blah blah blah blah
          Task description blah blah blah blah blah blah blah blah
        </p>
      </div>
      <div class="flex gap-2">
        <button class="rounded-full bg-green-500 p-2 text-white">Timer</button>
        <button class="rounded-full bg-blue-500 p-2 text-white">Done</button>
        <button class="rounded-full bg-red-500 p-2 text-white">Delete</button>
      </div>
    </li>

  </div>
</div>


